<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="#">Culqiflix</a>
</nav>
<div class="d-flex justify-content-center bd-highlight mb-3">
  <img src="../../../assets/culqi_logo.png" class="rounded mx-auto header-logo bd-highlight header-logo" alt="CulqiFlix">
</div>