<footer class="footer bg-white">
  <div class="container-fluid">
    <div class="d-flex justify-content-around">
      <div>CULQUI</div>
      <div></div>
      <div>CULQUI TRYOUTS</div>
    </div>
  </div>
</footer>