@import "rating";

:host{
  display: inline-block;
  font-family: GothamRounded-Medium;
}

.card-title {
  text-align: left;
  font-size: 16px;
  color: #212529;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.card-genres {
  text-align: left;
  font-size: 13px;
  color: #FAB005;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.card-vote {
  font-size: 21px;
  color: #212529;
}

.card-img-top{
  position: relative;
  background-size: cover;
  &:before{
    content: "";
    display: block;
    padding-top: 140%;
  }
}